@media screen and (max-width: 440px) {
  .header__container {
    display: grid;
    grid-template-rows: 48% 42% 10%;
  }
  .header__container .header__banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .header__container .header__banner .header__banner-info {
    width: 130px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 20px;
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .header__container .header__banner .header__banner-info span {
    font-size: 20px;
    color: blueviolet;
  }
  .header__container #blue-moon {
    background-image: url(../img/BlueMoon.jpg);
  }
  .header__container .section__container {
    display: flex;
    flex-direction: column;
    padding: 15px 12px;
  }
  .header__container .section__container .section__item-name {
    font-size: 50px;
    font-weight: 600;
    font-size: 80px;
    line-height: 100px;
    letter-spacing: -5px;
  }
  .header__container .section__container .section__item-info {
    height: 70px;
    overflow-y: scroll;
    margin-bottom: 15px;
  }
  .header__container .section__container .section__item-recipe {
    display: flex;
    flex-direction: column;
  }
  .header__container .section__container .section__item-recipe span {
    margin-bottom: 15px;
  }
}
#page-color {
  background-color: #fcfbf4;
  border-top: 0.5px solid grey;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .header__container {
    display: grid;
    grid-template-rows: 48% 42% 10%;
  }
  .header__container .header__banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .header__container .header__banner .header__banner-info {
    width: 130px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 20px;
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .header__container .header__banner .header__banner-info span {
    font-size: 20px;
    color: darkkhaki;
  }
  .header__container #blue-moon {
    background-image: url(../img/BlueMoon.jpg);
  }
  .header__container .section__container {
    display: flex;
    flex-direction: column;
    padding: 15px 12px;
  }
  .header__container .section__container .section__item-name {
    font-size: 50px;
    font-weight: 600;
    font-size: 80px;
    line-height: 100px;
    letter-spacing: -5px;
  }
  .header__container .section__container .section__item-info {
    height: 70px;
    overflow-y: scroll;
    margin-bottom: 15px;
  }
  .header__container .section__container .section__item-scrollbar {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  .header__container .section__container .section__item-scrollbar .section__item-recipe,
  .header__container .section__container .section__item-scrollbar .section__steps {
    display: flex;
    flex-direction: column;
  }
  .header__container .section__container .section__item-scrollbar .section__item-recipe span,
  .header__container .section__container .section__item-scrollbar .section__steps span {
    margin-bottom: 15px;
  }
  .header__container .section__container .section__item-scrollbar .section__item-recipe span:first-child,
  .header__container .section__container .section__item-scrollbar .section__steps span:first-child {
    font-weight: bold;
    font-size: 16px;
  }
}

/*# sourceMappingURL=blue-moon.css.map */
